.hero {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
  }

  .h2 {
    background-color: aqua;
    padding: 50%;
    text-align: center;
  }

 .h1 {
  background-color: brown;

 }
